.badminton-page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  text-align: center;
  background: linear-gradient(to right, #b9dbf7, #dfe9f3);
}

.badminton-page-title {
  color: #1e272e;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.badminton-banner {
  margin-bottom: 30px;
}

.badminton-banner-image {
  width: 100%;
  height: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.badminton-filter {
  margin-bottom: 20px;
  text-align: left;
  font-size: 1.2rem;
  /* width: 800px; */
}

.badminton-filter select {
  padding: 8px 12px;
  font-size: 1rem;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.badminton-location-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.badminton-location-card {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
}

.badminton-location-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.badminton-location-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.badminton-location-content {
  padding: 20px;
  position: relative;
  text-align: left;
}

.badminton-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #8627d3;
}

.badminton-location-name {
  margin-top: 0;
  font-size: 1.5rem;
  color: #34495e;
}

.badminton-location-address,
.badminton-location-hours,
.badminton-availability,
.badminton-contact,
.badminton-price {
  margin: 5px 0;
  color: #7f8c8d;
}

.badminton-book-now {
  background-color: #27ae60;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
}

.badminton-book-now:hover {
  background-color: #1e8449;
  transform: scale(1.05);
}

.badminton-book-now.disabled {
  background-color: #c0392b;
  cursor: not-allowed;
}

.badminton-book-now.disabled:hover {
  background-color: #c0392b;
  transform: none;
}
